<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to QT Ride</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main_search_offer.css')}}"> 
</head>
<body>
    <div class="container">
        <h1>Welcome to QT Ride</h1>
        <p>Choose an option below to get started:</p>
        <div class="button-container">
            <a href="{{url_for('search_ride')}}">Search for Rides</a>
            <a href="{{url_for('offer_ride')}}">Offer a Ride</a>
        </div>
    </div>
</body>
</html>
